/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 6.5rem;

    /*========== Colors ==========*/
	--hue: 54;

    /* Primary */
    --bright-red: rgb(242, 95, 58);
    --dark-blue: rgb(35, 44, 81);
    --dark-white: rgb(255, 255, 255);

    /* Neutral */
    --light-greyish-blue: rgb(184, 188, 202);
    --dark-greyish-blue: rgb(143, 148, 167);
    --very-dark-blue: rgb(29, 30, 37);
    --very-light-red: rgb(255, 239, 234);
    --light-gray-variant: rgb(249, 249, 249);
    --light-orange: rgb(254, 145, 80);

    --title-color: hsl(var(--hue), 64%, 100%);
    --text-color: hsl(var(--hue), 4%, 85%);
	--text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: #fff;
	--container-color: linear-gradient(136deg, hsl(120, 100%, 99%) 0%, hsl(0, 0%, 99%) 100%);
    --transparent: transparent;

    /*========== Font and typography ==========*/
    --body-font: 'Be Vietnam Pro', sans-serif;

    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    // Responsive typography
    @media screen and (min-width: 992px) {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 500;
    --font-black: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4: 4rem;
    --mb-5: 5rem;
    --mb-6: 6rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-negative: -1;
}