/*=============== HEADER ===============*/
.header {
    width: 100%;
    background-color: var(--transparent);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        &-img {
            width: 100%;
        }
    }

    &__link,
    &__logo,
    &__toggle,
    &__close {
        color: var(--very-dark-blue);
    }

    &__toggle {
        font-size: 2.25rem;
        cursor: pointer;
    }

    &__menu {
        @media screen and (max-width: 950px) {
            position: fixed;
            width: 100%;
            background: var(--very-light-red);
            top: -150%;
            left: 0;
            padding: 3.5rem 0;
            transition: 0.4s;
            z-index: var(--z-fixed);
            border-radius: 0 0 1.5rem 1.5rem;
        }
    }

    &__button {
        @media screen and (max-width: 950px) {
            display: none;
        }
    }

    &__img {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__close {
        font-size: 1.8rem;
        position: absolute;
        top: 0.5rem;
        right: 0.7rem;
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }

    &__link {
        text-transform: uppercase;
        font-weight: var(--font-black);
        transition: 0.4s;

        &:hover {
            color: var(--dark-greyish-blue);
        }
    }
}

/* Show menu */
.show-menu {
    top: 0;
}

/* Change background header */
.scroll-header {
    background: var(--very-light-red);
}

/* Active link */
.active-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: var(--dark-blue);
        border-radius: 50%;
    }
}