/*=============== TESTIMONIALS ===============*/
.testimonials {
    &__container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    &__content {
        position: relative;
        background: var(--light-gray-variant);
        width: 100%;
        border-radius: 0.75rem;
        padding: 4rem 3rem;
        text-align: center;
        margin-top: var(--mb-4);
    }
    
    &__img {
        position: absolute;
        top: -20%;
        left: 50%;
        width: 80px; 
        height: 80px;
        margin: auto;
        border-radius: 50%;
        transform: translateX(-50%);
        z-index: var(--z-tooltip) !important;

        & img {
            display: block; 
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            border-radius: 50%;
        }
    }

    &__name {
        margin-bottom: var(--mb-1);
    }
}

#testimonials {
    padding: 2rem 0 2rem;
}

/* Swiper Class */
.swiper-pagination {
    position: initial;
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--transparent);
    border: 1px solid var(--light-orange);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: linear-gradient(117deg, var(--light-orange), var(--bright-red));
}